server:
  port: 9003
    
management:
  endpoints:
    web:
      exposure:
        include: "*"  

spring:
  application:
    name: im-server
  redis:
    port: 6379
    host: localhost
    lettuce:
      pool:
        max-active: 8
        max-wait: -1
        max-idle: 8
        min-idle: 0
    timeout: 10000
    database: 0

logging:
    level:
      org.geekbang.projects.cs: INFO

      
